.screen {
    background-color: #1A191D;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 10px;
    gap: 1rem;
}

.confirmation {
    font-size: larger;
    font-weight: 500;
}
.bold {
    font-weight: 700;
    color: rgb(92, 188, 156);
}