.screen {
    background-color: #1A191D;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
    
}

.resultsText {
    width: 50%;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #403e47;
    width: 50%;
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */

}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.imageContainer {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
} */

.title {
    font-size: larger;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.location {
    font-style: italic;
}

.description {
    font-size: smaller;
}

.tags {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    gap: .5rem;

}

.tagContainer {
    border-radius: 10px;
    background-color: rgb(103, 208, 173);
    width: fit-content;
    padding: 5px;
}

.tagText {
    font-size: 12px;
    color:#1A191D;
}

.button {
    border-radius: 20px;
    align-self: center;
    margin-top: 20px;
    color:#1A191D;
    background-color: aquamarine;
    width: fit-content;
    padding: 5px;
}