.screen {
    background-color: #1A191D;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;

    
}

.resultsText {
    margin-top: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: rgb(92, 188, 156);
    letter-spacing: 2.5px;
}

.resultsContainer {
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}

.card {
    background-color: #403e47;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;

}

.cardCheckout {
    background-color: #403e47;
    width: 90%;
    height: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.imageContainer {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imageContainerCheckout {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.title {
    font-size: larger;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.location {
    font-style: italic;
}

.description {
    font-size: smaller;
}

.tags {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    gap: .5rem;

}

.tagContainer {
    border-radius: 10px;
    background-color: rgb(103, 208, 173);
    width: fit-content;
    padding: 5px;
}

.tagText {
    font-size: 12px;
    color:#1A191D;
}

.button {
    color: rgb(103, 208, 173);
    font-size: smaller;
    letter-spacing: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    background-color: #27262c;
    border-style: solid;
    border-color: rgb(103, 102, 102);
    border-width: .5px;
    width: 20%;
    padding: 10px;
}

.link {
    text-decoration: none;
}